<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
        {% csrf_token %}
        <div class="col-lg-4">
                Destination:<input type="text" name="destination"  >
            <br>Description:<input type="text" name="description" >
            <br>start_date:<input type="date" name="start_date" id="start_date">
            <br>end_date:<input type="date" name="end_date" id="end_date">
            <br><input type="submit" class="btn btn-secondary" value="Add">
        <br><br><br><br>
        </div>
    </form>
</body>
</html>